*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* https://codeshare.io/nzVY31
*/
body{
    font-family: Arial, Helvetica, sans-serif;
}

.card-container{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /*lo que va a hacer es que como minimo tenga un ancho de 200px o 1fr, entonces lo que va a pasar se que si achicamos lo manda para abajo*/
    /*
    auto-fit: toma el espacio y lo estira
    auto-fill: dispersa las cards con el tamaño minimo sin ampliarse
    o sino se puede colocar
    repeat(auto-fit, 200px) 5 elementos con 200px de ancho fijo, para no tener que poner 1fr 5 veces*/
    gap: 16px; /*para separar un poco a lo ancho las cards*/
}

.card{
    display: flex;
    flex-direction: column;
    /* flex: 1; esta no es la solucion ideal, proque no mantendrian el tamaño nunca */
    /* flex-grow: 1; */
    /* border: 3px solid blue; */
    font-size: 14px;
    border-radius: 5px;
    overflow: hidden;       /*lo que hace es lo que sobrepase no se vea*/
    box-shadow: 5px 5px 10px rgb(211, 211, 211);
    /*1er valor: cuanto se va a mover en el eje x
      2do valor: con el eje y
      3er valor: blur: osea cuanto se va a difuminar mi sombra
      4to valor: cuanto va a crecer la sombra*/
      transition: .3s ease
}

.card:hover{
    box-shadow: 5px 5px 20px 1px rgb(76, 76, 76);
}

.card-header{
    height: 170px;
    position: relative;
    color: white;
    overflow: hidden;
}

.card-header__image{
    height: 170px;
    width: 100%;    
    transition: 1s ease-in-out;  /*para que demore un poqutio mas en ampliar la imagen*/
    object-fit: cover;
}

.card:hover .card-header__image { /*lo que dice aca es que va a aplicar dentro del card-header cuando se hace hover, va a buscar la imagen y agrandar la escala*/
    transform: scale(1.2);
}

.card-header__info{
    position: absolute;
    bottom: 16px;
    left: 0;
    width: 75%;
    padding: 8px 16px;
    padding-left: 0;
    font-size: 10px;
    /* background-color: rgba(0, 0, 0, 0.6); */
    /* opacity: .5; lo que va a hacer es aclarar todo, incluso con los hijos, entonces lo que hay que hacer es aclarar un poco mas el color  */
    /* -webkit-text-stroke: 0.3px black; es un redondeado de la letra, a mas grande el pixel mas grosor va a tener */

    text-shadow: 1px 1px 0px black;
}

.card-header__title{
    padding-left: 15px;
}

.card-header__description{
    border-bottom: 2px solid white;
    padding-left: 16px;
    padding-bottom: 5px;
}

.card-body{
    /* padding: 8px 16px 16px;
    flex-grow: 1;  para que si sobre espacio lo ocupe el body */
    padding: 8px 16px 16px;
    /* flex: 1; */
    height: 200px;
    overflow: hidden;
}

.card-body__title{
    color: #888;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-size: 18px;
    text-align: center;
}

.card-body__description{
    height: 300px;
    overflow: auto; /*si ponemos auto, hace una barrita de scroll automatico para el txt, hidden esconde, scroll, me crea un scroll tanto para la derecha como para la izquierda*/
    /* resize: vertical; esto creo que es para que crezca o se rearme verticalmente */
}

.card-footer{
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-footer__link{
    text-decoration: none;
    background-color: dodgerblue;
    padding: 8px 12px;
    border-radius: 5px;
    color: white;
    transition: background .5s ease-in; /*aca especificamos si tiene un background el incrementar solo el background, en caso si tiene un font-size: 30px , el font se va a crecer al toque mientras que lo otro va a tomar medio segundo*/
}

.card-footer__link:hover{
    background-color: rgb(7, 55, 103);
    /* font-size: 30px; */
}

.card-date {
    font-size: 12px;
    color: #888;
}
